header {
    font-size: xx-large;
    color: white;
    text-align: center;
}

.label1{
    text-align: left;
}

h3 {
    color: white;
    text-align: center;
}

body {
    background-color: black;
    color: white;
    text-align: center;
}

div {
    border-radius: 10px;
}

footer {
    color: white;
}