nav{
    background-color: black;
    display: flex;
    justify-content: space-between;
    padding: 30px;
}

#box {
    padding: 66px;
}

h1 {
    font-size: 60px;
    text-align: center;
}

nav label {
    padding-left: 35px;
}

a:visited {
    color: inherit;
}

nav a{
    padding-right: 35px;
}

label{
    color: white;
    text-align: center;
}

ul li {
    padding: 5px; 
}

h2 {
    font-size: 45px;
    text-align: center;
}

body {
    text-align: center;
    margin: 0px;
}

section{
    padding: 30px;
}


* {
    text-decoration: none;
    list-style-type: none;
    font-size: 32px;
    text-align: justify;
}

.box {
    display: grid;
    justify-content: space-evenly;
}

div {
    display: grid;
    align-items: center;
    width: 594px;
    height: 450px;
    margin: 37px;
    border-radius: 30px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.6);
    transition: 0.3s;
    padding: 13px;
}

div:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

h4 {
    text-align: center;
    margin-top: 32px;
    margin-bottom: 32px;
}

div a {
    margin: 10px;
}

footer {
    color: white;
    text-align: center;
    background-color: black;
    padding-top: 100px;
    padding-bottom: 30px;
}