header {
    font-size: xx-large;
    text-align: center;
}

.label{
    text-align: center;
}

h3 {
    text-align: center;
}

body {
    text-align: center;
}

div {
    border-radius: 10px;
}

footer {
    color: black;

}